<div class="content">
  <h1>Pazienti</h1>
  <% if @patients.present? %>
  <table class="table">
    <tr>
      <th>Nome e Cognome</th>
      <th>Età</th>
      <th>Ultima visita</th>
    </tr>

    <% @patients.each do |p| %>
    <tr>
      <td><%= link_to (p.name + ' ' + p.last_name), patient_path(p) %></td>
      <td><%= p.birth_date%></td>
      <td><%= p.last_hygiene%></td>
    </tr>
    <% end %>

  </table>
  <% else %>
    <p>Non ci sono pazienti con questo nome o cognome nel tuo archivio</p>
  <% end %>

</div>
