<div class="content">
  <h1>Nuovo paziente</h1>
  <p>Inserisci i dati del paziente: potrai comunque modificarli in un secondo momento</p>

  <%= semantic_form_for @patient do |f| %>
    <%= f.inputs %>
    <%= f.actions %>
  <% end %>

</div>
