<div class="content">
  <h1>Patients#new</h1>
  <p>Find me in app/views/patients/new.html.erb</p>

  <%= semantic_form_for @patient do |f| %>
    <%= f.inputs %>
    <%= f.actions %>
  <% end %>

</div>
